body, html {
  padding: 0;
  margin: 0;
  color: #333;
}


/* Header1 */
nav.header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  height: 150px;
  width: 100%;
}

nav.header .content{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* { Common Components } */
.container-narrow {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 768px;
  width: 100%;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1024px;
  width: 100%;
}

.container-wide {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1440px;
  width: 100%;
}

.section-list section {
  position: relative;
}


/* Section1 */
.section1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 .content{
  position: relative;
}

.section1 .content .text {
  bottom: -100px;
  z-index: 100;
  position: absolute;
}
.section1 .content .text .clearfix-line {
  height: 0px;
  width: 100%;
  border: 1px solid #666;
  margin: 0.25rem 0px 0.75rem 0px;
}
.section1 .content .thumbnail{
  z-index: 10;
  position: absolute;
  right: 0px;
  bottom: -200px;
}

.section1 .content .thumbnail img{
  width: 500px;
}


/* Section2 */

.section2 {
  color: white;
  width: 100%;
  height: 500px;
  display: flex;
  background-color: black;
}

.section2 .item{
  display: flex;
  flex: 1;
}

.section2 .item.item-text{
  padding: 0 2rem;
  flex-direction: column;
}

.section2 .item.item-text .clearfix-boldline{
  height:0.25rem;
  width: 4rem;
  background-color: white;
  display: block;
}

.section2 .item.item-text .paragraph{
  margin-top: 1.5rem;
}
.section2 .item.item-text .line{
  line-height: 2;
}



.section2 .item.item-image{
  background-size: cover;
  background-repeat: no-repeat;
}
.section2 .item.item-image.first{
  background-position: center;
  background-image: url(https://i.imgur.com/UgQ8ull.jpg);
}

.section2 .item.item-image.second{
  background-position: center;
  background-image: url(https://i.imgur.com/JbRCDbq.jpg);
}

