body, html {
  padding: 0;
  margin: 0;
  color: #333;
}


/* Header1 */
nav.header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  height: 150px;
  width: 100%;
}

nav.header .content{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* { Common Components } */
.container-narrow {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 768px;
  width: 100%;
}

.container {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 1024px;
  width: 100%;
}

.container-wide {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1440px;
  width: 100%;
}

.section-list section {
  position: relative;
}

.clearfix-boldline{
  height:0.25rem;
  width: 4rem;
  background-color: white;
  display: block;
}


.paragraph{
  margin-top: 1.5rem;
}
.line{
  line-height: 2;
}

.btn.btn-readmore {
  outline: 0;
  border: 0;
  background-color: white;
  color: black;
  padding: 0.5rem 0.75rem;
}


/* Section1 */
.section1 {
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fdfdfd;
}
.section1 .content{
  position: relative;
}

.section1 .content .text {
  bottom: -100px;
  z-index: 100;
  position: absolute;
}
.section1 .content .text .clearfix-line {
  height: 0px;
  width: 100%;
  border: 1px solid #666;
  margin: 0.25rem 0px 0.75rem 0px;
}
.section1 .content .thumbnail{
  z-index: 10;
  position: absolute;
  right: 0px;
  bottom: -200px;
}

.section1 .content .thumbnail img{
  width: 500px;
}


/* Section2 */

.section2 {
  color: white;
  width: 100%;
  height: 500px;
  display: flex;
  background-color: black;
}

.section2 .item{
  display: flex;
  flex: 1;
}

.section2 .item.item-text{
  padding: 0 2rem;
  flex-direction: column;
}


.section2 .item.item-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section2 .item.item-image.first{
  background-image: url(https://i.imgur.com/UgQ8ull.jpg);
}
.section2 .item.item-image.second{
  background-image: url(https://i.imgur.com/JbRCDbq.jpg);
}


/* Section3 */
.section3 {
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

.section3 .content .header{
  margin-top: 4rem;
}

.section3 .content .header .clearfix-boldline{
  height:0.25rem;
  width: 3rem;
  background-color: #333;
  display: block;
  margin-top: 0.5rem;
}

.section3 .content .item-list {
  margin-top: 3rem;
  width: 100%;
  display: flex;
}

.section3 .content .item-list .item {
  justify-content: center;
}

.section3 .content .item-list .item.item-text {
  flex: 4;
  z-index: 20;
}
.section3 .content .item-list .item.item-image {
  position: relative;
  flex: 3;
}

.section3 .content .item-list .item.item-image .image {
  background-image: url(https://i.imgur.com/yQlcF0s.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 150%;
  height: 150%;
  position: absolute;
  top: -35%;
  left: -25%;
  z-index: 10;
}

.section3 .content .item-list .item .card {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 2rem;
}

.section3 .content .item-list .item .card .text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section3 .content .item-list .item .card .text .head {
  margin-bottom: 0.75rem;
}

.section3 .content .item-list .item .card .pictogram {
  position: absolute;
  color: #999;
}


.section3 .content .item-list .item .card.card-right {
  text-align: right;
}
.section3 .content .item-list .item .card.card-right .text {
  padding-right: 7rem;
}
.section3 .content .item-list .item .card.card-right .pictogram{
  right: 1rem;
}

.section3 .content .item-list .item .card.card-left {
  text-align: left;
}
.section3 .content .item-list .item .card.card-left .text {
  padding-left: 7rem;
}
.section3 .content .item-list .item .card.card-left .pictogram {
  left: 1rem;
}


/* section4 */

.section4 {
  height: 450px;
  background-color: black;
  display: flex;
  color: white;
}

.section4 .left-section-side {
  flex: 3;
}

.section4 .left-section-asile {
  flex: 5;
}



.section4 .right-section-asile {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section4 .right-section-asile.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(https://i.imgur.com/W6Y2rDx.jpg);
}

.section4 .right-section-side {
  flex: 4;
}
.section4 .right-section-side.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-position-x: center;
  background-image: url(https://miro.medium.com/max/2400/1*fKCwfNbEUnL5aEtBZYd3sQ.jpeg);
}


/* Section5 */
.section5 {
  height: 1300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.section5 .header .clearfix-boldline {
  background-color: black;
}

.section5 .row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 7rem;
}

.section5 .row .card{
  flex: 1;
  height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
}

.section5 .row .card + .card{
  margin-left: 2rem;
}


.section5 .row .card .card-image{
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 300px;
  z-index: 20;
}
.section5 .row .card .card-image.cookie-1{
  background-image: url(https://i.imgur.com/LTW7Zni.png);
}
.section5 .row .card .card-image.cookie-2{
  background-image: url(https://i.imgur.com/bWLmuQ3.png);
}
.section5 .row .card .card-image.cookie-3{
  background-image: url(https://i.imgur.com/yEv66S9.png);
}
.section5 .row .card .card-image.cookie-4{
  background-image: url(https://i.imgur.com/LYsWOzD.png);
}
.section5 .row .card .card-image.cookie-5{
  background-image: url(https://i.imgur.com/cfXKF8A.png);
}
.section5 .row .card .card-image.cookie-6{
  background-image: url(http://www.stickpng.com/assets/images/586ab2771fdce414493f5112.png);
}


.section5 .row .card .card-content {
  text-align: center;
  border: 2px solid black;
  flex: 1;
  height: 9rem;
  margin-top: 5rem;
  padding-top: 14rem;
}


/* Section 6 */
.section6 {
  width: 100%;
  justify-content: center;
  display: flex;
  height: 500px;
  color: white;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://i.imgur.com/tkETZbj.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: 30%;
}

.section6 .content{
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
}

.section6 .content .pagination-wrapper {
  position: absolute;
  width: 100%;
}

.section6 .content .pagination-wrapper .pagination{
  position: relative;
}

.section6 .content .pagination-wrapper .pagination .arrow-left {
  position: absolute;
  left: -2rem;
  font-size: 3rem;
  color: #bbb;
}

.section6 .content .pagination-wrapper .pagination .arrow-right {
  position: absolute;
  right: -2rem;
  font-size: 3rem;
  color: #bbb;
}

.section6 .content .card{
  flex: 1;
  padding: 1rem;
}

.section6 .content .card .profile {
  margin-top: 3rem;
  display: flex;
}

.section6 .content .card .profile .profile-image {
}

.section6 .content .card .profile .profile-image .girl {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  background-size: cover;
  background-position: center;
  background-image: url(https://78.media.tumblr.com/95f57f72af94e4c6c797986f3342f2a0/tumblr_oiwl2qZM4e1v9f0spo1_1280.png);
}
.section6 .content .card .profile .profile-image .boy {
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;
  background-size: cover;
  background-position: center;
  background-image: url(https://cdn.shopify.com/s/files/1/1215/1636/products/3573201977_1383699778.jpg?v=1526615499);
}


/* Section7 */
.section7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 800px;
  align-items: center;
}

.section7 .content {
  position: relative;
  max-width: 968px;
  padding-right: 7rem;
}
.section7 .header .clearfix-boldline {
  background-color: black;
}
.section7 .content .clearfix-boldline {
  background-color: black;
  display: inline-block;
  width: 15rem;
  vertical-align: 5px;
}


.section7 .content .panel-swiper{
  height: 300px;
  background-image: url(https://i.imgur.com/g3NZqZK.jpg);
  background-size: cover;
  background-position-y: 0;
  background-repeat: no-repeat;
  padding: 2rem;
  position: relative;

  display: flex;
  align-items: center;
}
.section7 .panel-swiper .panel {
  background-color: white;
  height: calc(100% - 4rem);
  width: 50%;
  padding: 2rem 1rem;
}

.section7 .panel-swiper .panel-swiper-pagination {
  right: -5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.section7 .panel-swiper-pagination .pagination-number {
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: right;
  transition: all 0.2s ease-in-out;
  margin-bottom: .5rem;

  width: 2rem;
  color: #ccc;
  border-bottom: 2px solid #ccc;
}

.section7 .panel-swiper-pagination .pagination-number.active{
  width: 3rem;
  color: #666;
  border-bottom: 2px solid #666;
}

.section7 .panel-swiper-pagination .pagination-number:hover{
  width: 3rem;
  color: #666;
  border-bottom: 2px solid #666;
}

